* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    background-color: grey;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#content-area {
    display: flex;
    flex-direction: row;
    flex-grow: 1; /* Middle section grows to fill available space */
    padding: 20px;
}

.output-box {
    flex-grow: 3;
    padding: 20px;
    border-radius: 15px;
    color: black;
    display: flex;
    justify-content: flex-start;
    border: 5px solid pink;
    width: 60%;
}

#chatgptoutput{

}

.doctor-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 40%;
}

.doctor-container img {
    width: 100%;
    max-width: 700px;
    height: auto;
    border: 1px solid black;
    border-radius: 10%;
}

.voice_button{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#speak-pause-button{
    margin-top: 20px;
    padding: 10px 20px;
    margin-right:10px;
    background-color: rgba(50, 219, 225, 0.82);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#stop-button{
    margin-top: 20px;
    padding: 10px 20px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#save-output-button{
    margin-top: 20px;
    padding: 10px 20px;
    margin-left: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#input-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #ddd;
    border-top: 1px solid #ccc;
}

#userInput {
    font-size: larger;
    font-weight: bold;
    flex-grow: 1;
    padding: 10px;
    margin-right: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 100%; 
}

#send-button, #speak-button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#send-button {
    background-color: limegreen;
    color: white;
    margin-right: 10px;
}

#speak-button {
    background-color: orange;
    color: white;
}
